.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.footer{
    position: fixed;
    color: darkblue;
    background-color: lightskyblue;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 3;
}

canvas{
    border: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}